/* Detalhes da Consulta */

.detalhes-consulta {
  padding: 20px;
  width: 90%;
  max-width: 393px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.detalhes-consulta .consulta-container {
  margin-top: 20px;
  padding: 5px;
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
}

.detalhes-consulta .titulo-voltar {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detalhes-consulta h3 {
  color: #1c78c2;
  margin-bottom: 10px;
  font-size: 18px;
}

.detalhes-consulta p {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.detalhes-consulta .botao {
  margin-top: 20px;
  background-color: #21A2AA;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

.detalhes-consulta .botao:hover {
  background-color: #1c8d92;
}

.detalhes-consulta .titulo-voltar{
    width: 90%;
  }

/* Responsividade Tablet */
@media (min-width: 768px) {
  .detalhes-consulta {
    max-width: 600px;
  }

  .detalhes-consulta .titulo-voltar{
    width: 85%;
  }

  .detalhes-consulta .titulo-voltar {
    margin: 0 0 0 45px;
  }

  .detalhes-consulta h3 {
    font-size: 22px;
  }

  .detalhes-consulta p {
    font-size: 18px;
  }

  .detalhes-consulta .botao {
    font-size: 16px;
    max-width: 320px;
  }
}

/* Responsividade Desktop */
@media (min-width: 1024px) {
  .detalhes-consulta {
    max-width: 700px;
  }

  .detalhes-consulta .titulo-voltar {
    width: 92%;
    margin: 0 0 0 25px;
  }

  .detalhes-consulta h3 {
    font-size: 24px;
  }

  .detalhes-consulta p {
    font-size: 20px;
  }

  .detalhes-consulta .botao {
    font-size: 18px;
    max-width: 360px;
  }
}

/* Responsividade Extra Grande */
@media (min-width: 1300px) {
  .detalhes-consulta {
    max-width: 800px;
  }

  .detalhes-consulta h3 {
    font-size: 26px;
  }

  .detalhes-consulta p {
    font-size: 22px;
  }

  .detalhes-consulta .botao {
    font-size: 20px;
    max-width: 380px;
  }
}
